{% extends 'user_base.html'%}

{% block content %}

<div class="w-full max-w-7xl">
    <div class="mb-10 text-3xl font-semibold text-center">
        <h1>Create Order</h1>
    </div>
    <form class="ml-8" id="form1" action="{% url 'create_sales' %}" method="post">
        {% csrf_token %}
        <div class="grid gap-4 mb-8 md:grid-cols-3">
            <div>
                <label  class="block mb-2 text-sm font-medium text-gray-900 ">Order Number</label>
                <input type="text" id="order_no" name="order_no" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>
            <div>
                <label  class="block mb-2 text-sm font-medium text-gray-900 ">Order Date</label>
                <input type="text" datepicker datepicker-buttons datepicker-autoselect-today id="date" name="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Proforma Ref.No</label>
                <input type="text" id="ref_no" name="ref_no" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div> 
        </div> 
        <div class="grid gap-6 mb-8 md:grid-cols-2">
            <div>
                <label for="text" class="block mb-2 text-sm font-medium text-gray-900 ">Shipper</label>
                <select name="supplier_name" id="supplier_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option>
                    {% for supplier in suppliers %}
                    <option value="{{supplier.supplier_name}}">{{supplier.supplier_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Buyer</label>
            <select name="customer_name" id="customer_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value=""></option>
                {% for customer in customers %}
                    <option value="{{customer.customer_name}}">{{customer.customer_name}}</option> 
                     <h1>{{customer.customer_name}}</h1>
                    {% endfor %}
            </select>
            </div>
        </div>
        <div class="grid gap-6 mb-8 md:grid-cols-2">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Notify Party</label>
                <select name="notify_party" id="notify_party" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option>
                    {% for customer in customers %}
                        <option value="{{customer.customer_name}}">{{customer.customer_name}}</option> 
                         <h1>{{customer.customer_name}}</h1>
                        {% endfor %}
                </select>
            </div>
            <div>
                <label  class="block mb-2 text-sm font-medium text-gray-900 ">Add Consignee</label>
                <select name="consignee" id="consignee" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option>
                    {% for customer in customers %}
                        <option value="{{customer.customer_name}}">{{customer.customer_name}}</option> 
                         <h1>{{customer.customer_name}}</h1>
                        {% endfor %}
                </select>
            </div>
        </div>
           
      
        <div class="grid gap-6 mb-8 md:grid-cols-2">
            <div>
                <label  class="block mb-2 text-sm font-medium text-gray-900 ">Add Notify Party</label>
                <select name="notify_party2" id="notify_party2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option>
                    {% for customer in customers %}
                        <option value="{{customer.customer_name}}">{{customer.customer_name}}</option> 
                         <h1>{{customer.customer_name}}</h1>
                        {% endfor %}
                </select>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Country of Origin</label>
                <input type="text" id="country_of_origin" name="country_of_origin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>  
           
        </div>
        <div class="grid gap-6 mb-8 md:grid-cols-3">
            <div>
                <label  class="block mb-2 text-sm font-medium text-gray-900 ">Port of Loading</label>
                <input type="tel" id="port_of_loading" name="port_of_loading" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Final Destination </label>
                <input type="url" id="final_destination" name="final_destination" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Port of Discharge</label>
                <input type="url" id="port_of_discharge" name="port_of_discharge" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>
        </div>

        <div class="grid gap-6 mb-8 md:grid-cols-3">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Measurement Type</label>
                <select selected="" name="measurement_type" id="measurement_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option> 
                    <option value="">Metric Tons</option> 
                    <option value="">KGs</option> 
                    <option value="">Meters</option> 
                    <option value="">Ltr</option> 
                    <option value="">PCs</option> 
                    <option value="">Spools</option> 
                    <option value="">Sets</option> 
                    <option value="">Other</option> 
                </select>
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Payment Terms</label>
                <select name="payment_type" id="payment_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option> 
                    <option value="">Irrevocable LC at Sight</option> 
                    <option value="">Cash Against Doc</option> 
                    <option value="">Telegraphic Transfer</option> 
                    <option value="">Confirmed LC</option> 
                    <option value="">Deferred LC</option> 
                    <option value="">Franco Valuta</option> 
                    
                </select>
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Mode of Transport</label>
                <select name="transportation" id="transportation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option> 
                    <option value="">Sea</option> 
                    <option value="">Air</option> 
                    <option value="">Truck</option> 
                    <option value="">Train</option>                     
                </select>
            </div>
        </div>
            
            <div class="grid gap-6 mb-8 md:grid-cols-3">
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Shipment Type</label>
                    <select name="shipment_type" id="shipment_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value=""></option> 
                        <option value="">FOB</option> 
                        <option value="">CFR</option> 
                        <option value="">FCA</option> 
                        <option value="">CIF</option>  
                        <option value="">Air Freight</option>                     
                    </select>
                </div> 
                
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Freight</label>
                    <select name="freight" id="freight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value=""></option> 
                        <option value="">Payable at Destination</option> 
                        <option value=""> Pre-paid</option>                     
                    </select>
                </div> 

                <div>
                    <label  class="block mb-2 text-sm font-medium text-gray-900 ">Freight Price</label>
                    <input id="freight_price" name="freight_price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
                </div>
            
            </div>

        </form>

            <h1 class="mt-6 mb-4 text-lg font-semibold ml-8">Add items below</h1>

           

            <div class="container grid gap-6 mb-8 md:grid-cols-3">    
            <form method="post" action="{% url 'create_sale_items' %}" id="form2">
                            
                {% csrf_token %}
            
                    {{ formset.management_form }}
                            
                    {% for form in formset %}
                            <div id="form-lists" class="max-w-sm">              
                                {{form.as_p}}
                            </div>
                    {% endfor %}
                            
            
                    <div id="empty-form" class="hidden"> {{ formset.empty_form.as_p}}</div>

            </form> 
            </div>      
               
    
                <div>
                    <button id="add-more" class="bg-slate-400 text-white font-bold py-2 px-4 rounded " type="button">Add Item</button>
                </div>

        

            


     
      
        <button type="submit" id="submits" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    

</div>


<script src="../../../static/js/orders/create_sales.js"></script>


{% endblock %}