{% extends 'user_base.html'%}

{% block content %}

<div class="w-full max-w-7xl">
    <div class="mb-10 text-3xl font-semibold text-center">
        <h1>Create Order</h1>
    </div>
    <form class="ml-8" id="form1" action="{% url 'create_sales' %}" method="post">
        {% csrf_token %}
        <div class="grid gap-4 mb-8 md:grid-cols-3">
            <div>
                <label  class="block mb-2 text-sm font-medium text-gray-900 ">Order Number</label>
                <input type="text" id="order_no" name="order_no" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>
            <div>
                <label  class="block mb-2 text-sm font-medium text-gray-900 ">Order Date</label>
                <input type="text" datepicker datepicker-buttons datepicker-autoselect-today id="date" name="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Proforma Ref.No</label>
                <input type="text" id="ref_no" name="ref_no" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div> 
        </div> 
        <div class="grid gap-6 mb-8 md:grid-cols-2">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Shipper</label>
                <select type="text" name="supplier_name" id="supplier_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option>
                    {% for supplier in suppliers %}
                    <option value="{{supplier.supplier_name}}">{{supplier.supplier_name}}</option>
                    <h1>{{supplier.supplier_name}}</h1>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Buyer</label>
            <select name="customer_name" id="customer_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option value=""></option>
                {% for customer in customers %}
                    <option value="{{customer.customer_name}}">{{customer.customer_name}}</option> 
                     <h1>{{customer.customer_name}}</h1>
                    {% endfor %}
            </select>
            </div>
        </div>
        <div class="grid gap-6 mb-8 md:grid-cols-2">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Notify Party</label>
                <select name="notify_party" id="notify_party" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option>
                    {% for customer in customers %}
                        <option value="{{customer.customer_name}}">{{customer.customer_name}}</option> 
                         <h1>{{customer.customer_name}}</h1>
                        {% endfor %}
                </select>
            </div>
            <div>
                <label  class="block mb-2 text-sm font-medium text-gray-900 ">Add Consignee</label>
                <select name="consignee" id="consignee" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option>
                    {% for customer in customers %}
                        <option value="{{customer.customer_name}}">{{customer.customer_name}}</option> 
                         <h1>{{customer.customer_name}}</h1>
                        {% endfor %}
                </select>
            </div>
        </div>
           
      
        <div class="grid gap-6 mb-8 md:grid-cols-2">
            <div>
                <label  class="block mb-2 text-sm font-medium text-gray-900 ">Add Notify Party</label>
                <select name="notify_party2" id="notify_party2" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option>
                    {% for customer in customers %}
                        <option value="{{customer.customer_name}}">{{customer.customer_name}}</option> 
                         <h1>{{customer.customer_name}}</h1>
                        {% endfor %}
                </select>
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Country of Origin</label>
                <input type="text" id="country_of_origin" name="country_of_origin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>  
           
        </div>
        <div class="grid gap-6 mb-8 md:grid-cols-3">
            <div>
                <label  class="block mb-2 text-sm font-medium text-gray-900 ">Port of Loading</label>
                <input type="tel" id="port_of_loading" name="port_of_loading" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Final Destination </label>
                <input type="url" id="final_destination" name="final_destination" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Port of Discharge</label>
                <input type="url" id="port_of_discharge" name="port_of_discharge" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
            </div>
        </div>

        <div class="grid gap-6 mb-8 md:grid-cols-3">
            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Measurement Type</label>
                <select selected="" name="measurement_type" id="measurement_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option> 
                    <option value="tons" id="tons">Metric Tons</option> 
                    <option value="kgs" id="kgs">KGs</option> 
                    <option value="meters" id="meters">Meters</option> 
                    <option value="ltrs" id="ltrs">Ltr</option> 
                    <option value="pieces" id="pieces">PCs</option> 
                    <option value="spools" id="spools">Spools</option> 
                    <option value="sets" id="sets">Sets</option> 
                    <option value="other" id="other">Other</option> 
                </select>
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Payment Terms</label>
                <select name="payment_type" id="payment_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option> 
                    <option value="Irrevocable LC at Sight" id="cash-doc">Irrevocable LC at Sight</option> 
                    <option value="Cash Against Doc" id="cash-doc">Cash Against Doc</option> 
                    <option value="Telegraphic Transfer" id="telegraphic-transfer">Telegraphic Transfer</option> 
                    <option value="Confirmed LC" id="confirmed-lc">Confirmed LC</option> 
                    <option value="Deferred LC" id="deffered-lc">Deferred LC</option> 
                    <option value="Franco Valuta" id="franco-valuta">Franco Valuta</option> 
                    
                </select>
            </div>

            <div>
                <label class="block mb-2 text-sm font-medium text-gray-900 ">Mode of Transport</label>
                <select name="transportation" id="transportation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value=""></option> 
                    <option value="Sea" id="sea">Sea</option> 
                    <option value="Air" id="air">Air</option> 
                    <option value="Truck" id="truck">Truck</option> 
                    <option value="Train" id="train">Train</option>                     
                </select>
            </div>
        </div>
            
            <div class="grid gap-6 mb-8 md:grid-cols-3">
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Shipment Type</label>
                    <select name="shipment_type" id="shipment_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value=""></option> 
                        <option value="FOB" id="fob">FOB</option> 
                        <option value="CFR" id="cfr">CFR</option> 
                        <option value="FCA" id="fca">FCA</option> 
                        <option value="CIF" id="cif">CIF</option>  
                        <option value="Air Freight" id="air_freight">Air Freight</option>                     
                    </select>
                </div> 
                
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900 ">Freight</label>
                    <select name="freight" id="freight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value=""></option> 
                        <option value="Payable at Destination" id="payable_at_destination">Payable at Destination</option> 
                        <option value=" Pre-paid" id="pre_paid">Pre-paid</option>                     
                    </select>
                </div> 

                <div>
                    <label  class="block mb-2 text-sm font-medium text-gray-900 ">Freight Price</label>
                    <input id="freight_price" name="freight_price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400  dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
                </div>
            
            </div>

        </form>

            <h1 class="mt-6 mb-4 text-lg font-semibold ml-8 mb-10 text-center">Add items below</h1>

           

            <div class="container grid gap-6 mb-8 md:grid-cols-3 ml-8" id="form2">    
                 {% include 'sales/create_sales_items.html' %}
            </div>      
               
    
                <!-- <div>
                    <button id="add-more" class="bg-slate-400 text-white font-bold py-2 px-4 rounded " type="button">Add Item</button>
                </div> -->

            <div class="mb-8">
                <button type="button" 
                hx-get="{% url 'create_sale_items' %}"
                hx-target="#form2"
                hx-swap="beforeend"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 
                       font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600
                    dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Item</button>
            </div>

        

            


     
      
        <button type="submit" id="submits" 
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Submit</button>
    

</div>


<script src="../../../static/js/orders/create_sales.js"></script>


{% endblock %}